.head
  background #fff
  padding 10px
  position relative
.head, .info, .nav, .body
  margin 0 auto
  width 1200px
.nav
  right 0
  width 238px
  top 0
  position absolute
.head2
  height 350px
  // line-height 350px
  overflow hidden
  background linear-gradient(135deg, #9F4A8F 0%, #745099 18%, #555AA2 31%, #4668AC 43%, #326FB3 54%, #3073B5 100%) no-repeat